body {
  background-image: linear-gradient(#254336 0%, #ffff 50%, #254336 100%);
  font-family: "DM Serif Display" "Bebas Neue" "Kreon" "Cutive" Arial, Helvetica,
    sans-serif;
  min-height: 2000px;
}

.navbar-brand {
  font-size: 2rem;
}
.nav-link {
  color: #fff;
  font-family: "Kreon";
  font-size: 1.2rem;
}

.row-1 {
  color: #000;
  font-family: "Cutive";
  padding-top: 2rem;
}
.row-1 p {
  color: #000;
  font-family: "Cutive";
  text-align: left;
  padding-top: 1rem;
}
.row-2 {
  padding-top: 3rem;
  color: #000;
  font-family: "Cutive";
}
.row-2 p {
  padding-top: 1rem;
}
.inv-1 p {
  font-family: "cutive";
  color: #000;
}
.inv-1 img {
  width: 75%;
}

.col2 a {
  font-size: 25px;
}

.row2 {
  text-align: left;
}
.row2 a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}
.row3 h1 {
  text-align: left;
}
.footer {
  color: #000;
}

.col3 a {
  text-decoration: none;
}
